<section class="sofh-custom">

  <nav class="sheet-tabs tabs" data-group="sheet">
    <a
      class="tab-icon"
      data-action="tab"
      data-tab="addhouse"
      data-group="sheet"
    >{{localize "sofh.SETTINGS.add-new-house"}}</a>
    <a
      class="tab-icon"
      data-action="tab"
      data-tab="addblood"
      data-group="sheet"
    >{{localize "sofh.SETTINGS.add-new-blood"}}</a>
    <a
      class="tab-icon"
      data-action="tab"
      data-tab="addsubject"
      data-group="sheet"
    >{{localize "sofh.SETTINGS.add-new-subject"}}</a>
  </nav>

</section>

<footer class="form-footer" style="width: 100%;">
  <button type="submit" data-action="save" autofocus="" style="width: 100%;">
    <i class="fa fa-check"></i>
    <span>{{localize "sofh.SETTINGS.save"}}</span>
  </button>
</footer>