
<div class="eq-sheet">
    <h2>{{localize "sofh.ui.actor.baseshooleq"}}</h2>
    <div class="eq-tab" data-group="primary" data-tab="equipment">
    {{editor system.equipment target="system.equipment" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
    <h2>{{localize "sofh.ui.actor.pesonaleq"}}</h2>
     <div class="eq-tab" data-group="primary" data-tab="equipment">
    {{editor system.equipmentpersonal target="system.equipmentpersonal" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
</div>
