 <section class="tab addblood {{tabs.cechy_glowne.cssClass}}"   
    action-data="tab"  data-group="sheet"  data-tab="addblood">

  <div class="custom-house-header">
    <h3>{{localize "sofh.SETTINGS.add-custom-blood-type-title"}} <a><i class="fa fa-plus" data-action="addBloodType"></i></a></h3>
    
  </div>
      {{#each data as |blood|}}
            <input type="text" name="bloodType" value="{{blood}}">
     {{/each}}
</section>
