  <section class="tab addhouse active"   
    action-data="tab"  data-group="sheet"  data-tab="addhouse">
    <div class="custom-house-header">
      <h3>{{localize "sofh.SETTINGS.add-custom-house-title"}} <a><i class="fa fa-plus" data-action="addHouse"></i></a></h3>
      
    </div>


  <div class="custom-houses">
    {{#log data}}{{/log}}
    {{#each data as |house|}}
    {{#log house}}{{/log}}
      {{> "systems/SofH/templates/app/part/tab/house.hbs" house}}
    {{/each}}
  </section>
 