<div class="add-party-memer main">
    {{#each actors as |actor key|}}
    <div class="party-memeber-add" id="{{actor._id}}">
        <div class="member-name">{{actor.name}}</div>
        <input type="checkbox">
    </div>
    {{/each}}
</div>