<div>
  <h2>{{localize "sofh.dialog.selectNewFavoriteTopic"}}</h2>
  <select class="new-topic">
    <option value="">{{localize "sofh.dialog.selectNewTopic"}}</option>
    {{selectOptions (allTopic) localize=true}}
  </select>
</div>