<form class="sofh{{cssClass}}" autocomplete="off">
<p>{{localize "sofh.ui.housequestionlabel"}}</p>
<form class="question-options">
    <div class="radio-group">
        <input type="radio" id="question1" name="housequestion" value="1">
        <label for="move_from_house_1">{{localize (concat 'sofh.ui.actor.' home 'question1')}}</label>
    </div>
    <div class="radio-group">
        <input type="radio" id="question2" name="housequestion" value="2">
        <label for="move_from_house_2">{{localize (concat 'sofh.ui.actor.' home 'question2')}}</label>
    </div>
</form>
