<form class="sofh{{cssClass}}" autocomplete="off">
<p>{{localize "sofh.ui.housequestionlabel"}}</p>
<form class="question-options">
    <div class="radio-group">
        <input type="radio" id="question1" name="housequestion" value="1">
        <label for="move_from_house_1">{{question.q1}}</label>
    </div>
    <div class="radio-group">
        <input type="radio" id="question2" name="housequestion" value="2">
        <label for="move_from_house_2">{{question.q2}}</label>
    </div>
</form>
